body {
    background: #3A3E4B;

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
}

.border-hover {
    border-top: 5px solid transparent;
    transform: translateY(-4px);
}

.border-hover:hover {
    border-top: 5px solid #ff9138;
    transform: translateY(-4px);
}

#sign-in {
    background: #FF9138;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.navbar-toggler {
    border: 3px solid #FF9138;
}


.navbar-toggler-icon {
    background-image: url(/static_files/svgs3/list.svg)
}

.navbar-toggler:focus {
    box-shadow: none;
}

#nav-length {
    width: 90%;
}

@media screen and (max-width : 992px) {
    #nav-length {
        width: 100%;
    }

    .border-hover {
        border-top: 0;
    }

    .border-hover:hover {
        border-top: 0;
    }

    #sign-in {
        border-radius: 50px;
    }
}

/* body section */
.mainicon-height{
    height: 20px;
    width: 20px;

}
.icon-height {
    text-align: center;
    margin-left: 150px;
    margin-top: 40px;
    height: 70px;
    width: 70px;
    
}

.icon-container {
    background: #FF9138;
}

.dark-background {
    background: #2b3944;
}
#socialWrap {
    border-radius: 0px 24px 24px 0px;
}
.services{
    font-size: 50px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.headings{
    color: #ff9138;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cardbody{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
